/*
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Banner (transitions) */

html{
    height: 100%;
}

h1{
	font-weight: 500;
    letter-spacing: 1px;
}

p.major{
	font-weight: 400;
}

/*body {
	font-weight: 300;
    height: 100%;
}*/

.wrapper{
    height: 100%;
}

#full-height{
    height: 100%;
}
.button, .button.small{
    border-radius: 0em;
}

.button.small:before{
    content: "→ ";
}


a.button.primary:hover  {
    background: #2980b9; 
}

article.footer{
    font-size: 14px;
}

button[name="dark_light"]{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    border: none;
}

.dark-mode{
        background: #011E46;
        color: #fff;
    }

    .dark-mode a{
        color:#fff;
    }
    .dark-mode a.button.primary{
        border: 1px solid #fff;      
    }

    .dark-mode a.button{
        background: #011E46;
        color:#fff;
    }
    .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5{
        color:#fff;
    }

    .dark-mode button.button{
        color: white !important;
        border-color: white !important; 
    }  